.span {
    font-size: 60px;
    margin-left: -50%;
}

.user {
    margin-left: 150px;
}

.gallery {
    margin-left: -50%;
    margin-top: 20%;
}
.user-img {
    border-radius: 20px;
    filter: blur(5px);
    transition: all 0.3s linear;
}
.user-img:hover{
    transform: translateY(-5%);
    filter: none;
}